
.app {
  position: fixed;
  top: 0;
  left: 0;
  border-color: cadetblue;
}

.name {
  font-size: 24px;
  font-weight: bold;
  height: 50px;
  margin: 20px;
  /* color: #333; */
  /* flex-direction: column; */
  /* position: absolute; */
}

.pic {  
  margin: 20px; 
  width: 350px;
  height: 350px;
  /* object-fit: cover; */
}

.profile {
  display: flex;
  /* align-items: top; */
  /* margin: 120px; */
}

.about {
  max-width: fit-content;
  margin: 20px auto;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  text-align: center;
  font-family: sans-serif;
  /* background-color: #ffffff; */
}

.main {
  display: flex;
  gap: 20px;
}

.align {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.align_text {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.align_top {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.align_bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}